{% extends "app/dashboard-base.html" %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}House settings{% endblock %}</title>
</head>
<body>
{% block dash_content %}
    <div class="container-fluid">
        <h1>{{ house.name }}</h1>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-dark" type="submit">Update house</button>
                </form>
            </div>
        </div>
    <p></p>
        <div class="row">
            <div class="col">
                <form method="post">
                    <label>This house's code is {{ house.uniqueCode }}</label>
                    {% csrf_token %}
                    <button class="btn btn-dark" name="codeGenerator" type="submit">Generate a new code</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>Rooms & Rent</h3>
                <ul class="list-group">
                    {% for room in rooms %}
                        <li class="list-group-item">{{ room.inhabitant.Profile.firstName }}'s room, {{ room.name }}, costs
                            £{{ room.rent }} per month
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>