{% extends "app/dashboard-base.html" %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}House settings{% endblock %}</title>
</head>
<body>
{% block dash_content %}
    <h1>{{ house.name }}</h1>
    <h3>This house's code is {{ house.uniqueCode }}</h3>
    <h3>Want to generate a new code?</h3>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-dark" name="codeGenerator" type="submit">Generate a new code</button>
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-dark" type="submit">Update house</button>
    </form>

    <h3>Rooms</h3>
    {% for room in rooms %}
        <p>{{ room.name }} costs {{ room.rent }} per month</p>
    {% endfor %}
{% endblock %}
</body>
</html>