<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/index_style.css">
    <title>Housemates</title>
</head>
<body>

<header id="showcase">

    <div class = "container">
        <img src="../app/assets/img/logo.jpg" alt="logo" class="logo">
        <nav>
            <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'join-house' %}">Join house</a></li>
                    <li><a href="{% url 'account' %}">Account</a></li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
        </nav>
    </div>

</header>

</body>
</html>

