<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hi, welcome to HouseMates! This page is still under construction, but here are a few links that might be more
    interesting</h1>
<ul>
    <li>
        <a href="{% url 'login' %}">Login page</a>
    </li>
    <li>
        <a href="{% url 'signup' %}">Signup page</a>
    </li>
    <li>
        <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li>
        <a href="{% url 'join-house' %}">Join house page</a>
    </li>
</ul>

</body>
</html>