{% extends "app/dashboard-base.html" %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rent Distribution{% endblock %}</title>
</head>
<body>
{% block dash_content %}
    <div class="container-fluid">
        <h1>{{ house.name }} Rent Distribution</h1>
        <div class="row">
            <div class="col">
                <form method="post">
                    <h2>Create your room</h2>
                    {% csrf_token %}

                    {{ form | crispy }}
                    <button class="btn btn-dark" type="submit">Add your room</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Rooms in {{ house.name }}</h3>
                <ul class="list-group">
                    <script type="text/javascript">
						let sum = 0;
						let count1 = 0;
						let count2 = 0;
						let total = [];
                    </script>
                    {% for room in rooms %}
                        <script> {
							count1++;
						}
                        </script>
                        <li class="list-group-item" style="padding-left:20px; padding-bottom:10px; text-align:left">
                            <h6 style="padding-left:20px; text-align:left">{{ room.name }} </h6>
                            Rent: £{{ room.rent }} per month
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h2 style="padding-top:20px; padding-right:270px; text-align:right">Total Rent</h2>
                <p style="padding-top:5px; padding-right:283px; text-align:right" id="output"></p>
                {% for room in rooms %}
                    <script> {
                        total[count2] = {{ room.rent }}
                            sum = sum + total[count2];
                        count2++;
                        if (count2 === count1) {
                            document.getElementById("output").innerHTML = sum + " per month";
                        }
                    }
                    </script>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>




